img {
  width: 40px;
  filter: brightness(100);

  transition: 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.2);
}

.bg-dark {
  background-image: linear-gradient(to right, #0D6E86, #2D7B59) !important;
}
