<app-card-alvara-estados></app-card-alvara-estados>

<div class="card" style="background-color: white">
  <div class="texto">
    <h2>alvará de funcionamento</h2>
    <p>
      O alvará de funcionamento é o documento que autoriza uma empresa ou
      estabelecimento a operar legalmente em uma localidade. Para solicitar, o
      empresário precisa seguir as regras do município ou estado onde o negócio
      se encontra. Em geral, o processo envolve o preenchimento de formulários,
      a apresentação de documentos como CNPJ, contrato social, e comprovação de
      adequação às normas de segurança e saúde. Após a análise dos órgãos
      competentes, o alvará é emitido. Empresas precisam renová-lo
      periodicamente para manter a conformidade.
    </p>

    <h2>Definição</h2>
    <p>
      O Alvará de Funcionamento destina-se a autorizar somente as atividades que
      forem declaradas na consulta de adequabilidade Locacional, como exercidas
      no local. Conforme o Decreto n° 14.501/2019, o Alvará de Funcionamento
      será emitido por meio eletrônico, sob as formas de Alvará de Funcionamento
      <b>Social</b>, Alvará de Funcionamento <b>Regular</b> e Alvará de
      Funcionamento <b>Precário</b>.
    </p>

    <div class="container overflow-hidden text-center">
      <div class="row gx-3">
        <div class="col">
          <div class="p-3">
            <h5>ALVARÁ SOCIAL</h5>
            O ALVARÁ DE FUNCIONAMENTO SOCIAL dar-se-á para as atividades
            classificadas como baixo, médio ou alto risco exercidas por: I -
            Organização de iniciativa privada, sem fins lucrativos, que presta
            serviços de caráter público; II - Entidade religiosa; III -
            Microempreendedor individual (MEI); IV - Microempresa (ME); V-
            Empresa de Pequeno Porte (EPP)
          </div>
        </div>
        <div class="col">
          <div class="p-3">
            <h5>ALVARÁ REGULAR</h5>
            O ALVARÁ DE FUNCIONAMENTO REGULAR dar-se-á para as atividades
            classificadas como baixo, médio ou alto risco, desde que não se
            enquadrem na expedição de Alvará de Funcionamento Social e Alvará de
            Funcionamento Precário.
          </div>
        </div>
        <div class="col">
          <div class="p-3">Custom column padding</div>
        </div>
      </div>
    </div>
  </div>
</div>
