:host {
  background-image: linear-gradient(to bottom, #0D6E86, #2D7B59);
  display: block;
  background-size: cover;
  background-position: center;
}


.texto {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}



.col {
  border: solid 1px #0D6E86;
  border-radius: 5px;
}
