<p>
  O Alvará de Funcionamento é o documento que autoriza o início de uma atividade
  estabelecida em um imóvel no Município de Fortaleza, sendo emitido
  automaticamente a partir de atos declaratórios, podendo o Alvará ser
  monitorado e o estabelecimento ser fiscalizado a qualquer tempo. O Alvará de
  Funcionamento destina-se a autorizar somente as atividades que forem
  declaradas na consulta de adequabilidade Locacional, como exercidas no local.
  A partir da data de vigência da Lei Complementar nº 270/2019, o Alvará de
  Funcionamento passou a ser emitido por meio eletrônico, podendo este ser
  emitido imediatamente, caso isento de taxa ou após o reconhecimento do
  pagamento da taxa.
</p>
